<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 style="text-align: center;"><i><b>Medicare  User Registration Page</b></i></h1>
  <form #registerform="ngForm" (ngSubmit)="registeruser()">
    <div class="form-group">
        <label for="name"><h2><i><b>Name:-</b></i></h2></label>
        <input type="name" class="form-control"  placeholder="Enter Name" name="name" [(ngModel)]="user.name">
      </div>
    <div class="form-group">
      <label for="email"><h2><i><b>Email:-</b></i></h2></label>
      <input type="email" class="form-control"  placeholder="Enter Email" name="email" [(ngModel)]="user.emailid">
    </div>
    <div class="form-group">
      <label for="pwd"><h2><i><b>Password:-</b></i></h2></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="pwd" [(ngModel)]="user.pwd">
    </div>
    <div class="checkbox">
      <br>
      <label><input type="checkbox" name="remember"> <i><b>Remember me</b></i></label>
    </div>
    <br>
    <button type="submit" class="btn btn-success" ><h4><i><b>Submit</b></i></h4></button>
  </form>
</div>
<small class="danger">{{msg}}</small>
</body>
</html>
